.producto-container {
    display: flex;
    margin-left: 5px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  .producto-imagen {
    flex: 0.4; /* Reducir el tamaño de la imagen */
    overflow: hidden; /* Ocultar partes de la imagen que se desbordan */
    height: 50%;
  }
  .prueba{
    width: 40%;
  }
  
  .producto-imagen img {
    margin-top: 20px;
    width: 100%; /* Ajustar el tamaño de la imagen al contenedor */
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out; /* Agregar transición suave al efecto de zoom */
    flex: 1;
  }
  
  .producto-imagen img.zoomed {
    transform: scale(2.0); /* Aumentar la escala de la imagen cuando se pasa el cursor sobre ella */
    cursor: pointer;
  }
  
  .producto-info {
    flex: 100; /* Ajustar el tamaño del contenedor de la información */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaciar uniformemente los elementos */
    width: 100%;
  }

  .producto-nombre-titulo {
    font-size: 45px;
    margin-bottom: 1px;
  }
  
  .producto-nombre {
    font-size: 24px;
    margin-bottom: 0px;
  }
    
  .producto-detalles {
    display: flex;
    margin-bottom: 20px;
    background-color: rgb(228, 226, 226);;
    padding: 10px;
    height: 100%;
    border-radius: 10px;    
  }

  .detalles__infor{
    width: 50%;
  }

  .detalles__prod{
    width: 50%;
  }
  
  .producto-precio {
    font-weight: bold;
    font-size: 1.0rem;
  }
  
  .producto-calificacion {
    font-style: italic;
  }
  
  .contactar-asesor {
    margin-bottom: 20px;
    width:27% ;
  }
  
  .contactar-asesor-btn {
    background-color: #25D366; /* Color de fondo de WhatsApp */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* Mostrar elementos en línea */
    align-items: center; /* Alinear elementos verticalmente */
    text-decoration: none; /* Eliminar el subrayado del enlace */
    font-size: 1.0rem;
  }
  
  .contactar-asesor-btn:hover {
    background-color: #128C7E; /* Cambiar color de fondo al pasar el mouse */
    color: #fff;
  }
  
  .icono-whatsapp {
    margin-right: 5px; /* Agregar espacio entre el icono y el texto */
    font-size: 1.3rem;
  }
  
  
  .politica-envio {
    font-size: 12px;
    color: #888;
  }

  .main__imagen{
    flex-direction: column;
  }
  
  .separador {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .info__envio {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  
  .sobre-articulo-lista {
    list-style-type: none;
    padding: 0;
  }
  
  .sobre-articulo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .sobre-articulo-icon {
    margin-right: 10px;
    color: #0D6FD7;
    font-size: 1.2rem;
  }
  
  .sobre-articulo-texto {
    color: #333;
    font-size: 1rem;
  }
  
  .separador {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .producto-detalles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.detalles__infor,
.detalles__prod {
    flex: 1;
    margin-right: 20px;
}

.detalles-seccion {
    margin-bottom: 20px;
}

.detalles-titulo {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.detalles-lista {
    list-style: none;
    padding: 0;
}

.detalles-item {
    margin-bottom: 10px;
}

.detalles-tipo {
    font-weight: bold;
    color: #555;
}

.detalles-valor {
    color: #777;
}

.acciones {
    margin-top: 20px;
}

.related-products-scroll-container {
  overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.related-product {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
  height: 100%;
  max-width: 600px; /* Ancho máximo de cada producto */
  border: 1px solid #ddd;
  cursor: pointer;
}

.related-products-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.related-products-control {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #555;
  margin: 0 10px;
}

.related-products-control:hover {
  color: #333;
}

.related-products-container {
  margin: 0px auto;
  text-align: center;
}

.related-products-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.related-products-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  max-width: 1100px; /* Aumentamos el ancho máximo */
  margin: 0 auto;
  padding: 0 20px;
}

.related-products-list {
  display: flex; /* Cambiamos a display flex para que los productos se ajusten automáticamente */
  border: 1px solid black;
  transition: transform 0.5s ease; /* Agregamos una transición suave */
}

.related-product {
  flex: 0 0 auto;
  margin: 0 1px; /* Espacio entre productos */
  background-color: rgb(189, 186, 186, 0.8);
  border-radius: 15px;
}

.related-product.active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
} 

.related-product img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 10px;
}

.related-product-title {
  font-size: 15px;
  width: 100%;
  color: #fff;
  margin-top: 10px;
  overflow: hidden; /* Evita que el texto se desborde */
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto si se corta */
}

.related-product-description {
  font-size: 14px;
  color: #666;
  color: #fff;
  margin-top: 5px;
  max-height: 40px; /* Limitamos la altura máxima del texto */
  overflow: hidden; /* Evita que el texto se desborde */
}

.related-product-price {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

.related-products-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.related-products-control {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #555;
  margin: 0 10px;
}

.related-products-control:hover {
  color: #333;
}

/* Personaliza la apariencia de las flechas de navegación */
.related-products-container .carousel-root .carousel .control-prev,
.related-products-container .carousel-root .carousel .control-next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(189, 186, 186, 0.8); /* Color de fondo */
    width: 40px; /* Ancho de las flechas */
    height: 40px; /* Altura de las flechas */
    border-radius: 50%; /* Hace que las flechas sean redondas */
    cursor: pointer;
    opacity: 0.8; /* Opacidad inicial */
    transition: opacity 0.3s, background-color 0.3s; /* Transiciones suaves */
}

/* Cuando se pasa el mouse sobre las flechas, aumenta la opacidad */
.related-products-container .carousel-root .carousel .control-prev:hover,
.related-products-container .carousel-root .carousel .control-next:hover {
    opacity: 1;
    background-color: rgba(150, 146, 146, 0.9); /* Color de fondo al pasar el mouse */
}

/* Ajusta la posición de la flecha izquierda */
.related-products-container .carousel-root .carousel .control-prev {
    left: 10px; /* Distancia desde el borde izquierdo */
}

/* Ajusta la posición de la flecha derecha */
.related-products-container .carousel-root .carousel .control-next {
    right: 10px; /* Distancia desde el borde derecho */
}

/* Estilo de las flechas */
.related-products-container .carousel-root .carousel .control-prev::before,
.related-products-container .carousel-root .carousel .control-next::before {
    content: ''; /* Agrega contenido al pseudo-elemento */
    display: inline-block;
    width: 12px; /* Ancho de la flecha */
    height: 12px; /* Altura de la flecha */
    border-style: solid;
    border-color: #666; /* Color del borde de la flecha */
    border-width: 2px 2px 0 0; /* Grosor del borde de la flecha */
    transform: rotate(-135deg); /* Rotación para la flecha izquierda */
    position: relative;
    top: 1px; /* Ajuste vertical */
}

/* Estilo de la flecha derecha */
.related-products-container .carousel-root .carousel .control-next::before {
    transform: rotate(45deg); /* Rotación para la flecha derecha */
}


.carousel{
  border-radius: 15px;
  padding: 50px;
  background-color: rgb(238, 238, 238);
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .producto-detalles {
        flex-direction: column;
    }
    
    .detalles__infor,
    .detalles__prod {
        margin-right: 0;
    }
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .producto-container {
      flex-direction: column;
      margin-top: -100px;
  }

  .producto-imagen {
      margin: 10px;
  }

  .prueba{
   width: 100%;
   margin-top: -300px;
   flex-direction: column;
}

  .related-products-container{
      margin-top: -800px;
      margin-bottom: 300px;
      height: 50%;
  }

  .producto-nombre{
    margin-top: 50px;
  }

  .producto-imagen{
    margin-top: 1000px;
    height: 50%;
  }

  .related-products-controls{
    margin-top: -5px;
  }
  
  .contactar-asesor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .contactar-asesor-btn{
    width: 250px;
  }
}
