*{
    box-sizing: border-box;
}
.main__form{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    color: #2d6a4f;
}

form{
    background-color: #f8f9fa;
    padding: 25px;
    border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

form input,label{
    width: 100%;
}

form input{
    border: none;
    background-color: #f8f9fa;
    border-bottom: 1px solid #52b788;
}

.button__main {
    display: flex;
    gap: 5px;
}

.small-text {
    font-size: 10px; 
    color: #888; 
}

.privacy-link {
    color: blue; /* Cambia el color del enlace */
    text-decoration: underline; /* Subraya el enlace */
    cursor: pointer; /* Cambia el cursor al pasar sobre el enlace */
  }
  
  .privacy-link:hover {
    color: darkblue; /* Cambia el color cuando el enlace está en hover */
  }
  
.button__log{
    background-color: rgb(53, 79, 82);
    color: #FFF;
    padding: 10px;
    border: none;
    border-radius:5px;
}

.button__log:hover{
    background-color:#52b788;
}

.button_re{
    background-color: rgb(40, 150, 89);
    color: #FFF;
    padding: 10px;
    border: none;
    border-radius:5px;
}

.button_re:hover{
    background-color: rgb(70, 109, 87);
}
/* Anula el estilo de Bootstrap que oculta el texto predeterminado en el select específico */
.select select{
    padding: 10px;
    width: 95%;
    border-radius: 10px;
    border: 1px solid #52b788;
}

.input-wrapper input{
    margin-right: 110px;
}

.button__main button{
    width: 50%;
}

.fecha__main {
    width: 100%;
    display: flex;
}

#fechaExp input{
    margin-right: 20px; 
}

.fecha__main div{
    width: 100%;
}


/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .main__form {
      align-items: flex-start; /* Alinea los elementos al inicio */
    }
  
    .register-form {
      width: 100%; /* Ajusta el ancho del formulario para pantallas más pequeñas */
    }
  
    .input-container {
      width: 100%;
    }

    .input-wrapper input{
        margin-right: 20px;
    }
  
    .input-container label {
      margin-bottom: 0px; /* Reduce el espacio entre etiqueta y campo */
    }
    
    .button__main {
      flex-direction: column; /* Apila los botones verticalmente en dispositivos móviles */
    }
  
    .button__main button {
      width: 100%; /* Hace que los botones ocupen todo el ancho en dispositivos móviles */
      margin-bottom: 10px; /* Añade espacio entre los botones */
    }


  }
  