.SearchMain{
    display: flex;
}

.search-button{
    margin-top: 20px;
    height:50%;
    border: none;
    padding: 10px;
    background-color: #4bb86c;
    color: #FFF;
}

.SearchInput{
    margin-top: 20px;
    border: none;
    padding: 10px;
    background-color: rgb(238, 237, 237);
    color: #354f52;
}